body{
    background-color: hsl(212, 45%, 89%);
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: "Outfit", sans-serif;
}
div{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 0 auto;
    width: 280px;
    height: 410px;
      
}
img{
    width: 250px;
    height: 240px;
    padding: 15px;
    border-radius: 22px

}
h1{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
p{
    font-size: 14px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
}